body {
    background: linear-gradient(0deg, rgba(185, 226, 227, 1) 0%, rgba(255, 217, 133, 1) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
    transition: max-width 0.3s;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #444;
    transition: font-size 0.3s;
}

.btn-neon {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(160, 9, 9);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-neon:hover {
    background-color: #8d0404;
}

@media (max-width: 350px) {
    .login-container {
        max-width: 90%;
        padding: 15px;
    }

    .login-title {
        font-size: 24px;
    }
}

@media (max-width: 280px) {
    .login-container {
        max-width: 90%;
        padding: 10px;
    }

    .login-title {
        font-size: 20px;
    }
}

.wrapper {
    background: linear-gradient(0deg, rgba(185, 226, 227, 1) 0%, rgba(255, 217, 133, 1) 100%) !important;

}
.utext{
    color: rgb(27, 27, 101) !important;
}